body {
  padding-top: 2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #333;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 1em;
  font-weight: 500;
}

.lead {
  font-size: 2em;
}

#logo {
  vertical-align: middle;
}

#privacy {
  position: fixed;
  bottom: 0;
  font-size: 1.2em;
}

.button {
  vertical-align: middle;
  border: 1px solid gray;
  padding: .5em;
  border-radius: .5em;
  margin-left: .5em;
}

.button:hover {
  background-color: #e0f8f8;
}
