<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Baffle</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<!-- github ribbon: https://github.com/blog/273-github-ribbons -->
<a href="https://github.com/snarfed/baffle">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
       alt="Fork me on GitHub" />
</a>

<div class="container">
<h1>
  <img id="logo" src="baffle.png" />
  Baffle
</h1>

<p class="lead">Lets you use <a href="https://indieweb.org/Microsub-spec">Microsub</a> client apps with traditional feed readers like NewsBlur...and maybe soon others too!</p>

<form method="post" action="/newsblur/start">
<p class="lead">Click to get started:
<input class="button" type="image" alt="NewsBlur" src="newsblur_button.png"
       width="306" />
</p>
</form>
<!-- {% if declined %} -->
<!-- <span style="color: red">User declined the access request.</span> -->
<!-- {% else %}{% if error %} -->
<!-- <span style="color: red">Error fetching user details.</span> -->
<!-- {% endif %} -->
<!-- {% endif %} -->
<!-- {% if entity %} -->
<!-- <span style="color: green"> -->
<!--  Authenticated {{ entity.user_display_name() }} on {{ entity.site_name() }}.</span> -->
<!-- {% endif %} -->
</p>

<br><br><br><br>
<p id="privacy">This app does not store or use any data, yours or anyone else's. It only reformats data and passes it through in response to your own Microsub requests. <a id="contact" href="https://github.com/snarfed/baffle/issues">Questions?</a>
</p>

</div>
</body>
</html>
